{% extends 'main/loyaut.html' %}

{% block title%}Новости о котиках{% endblock %}

{% block content %}
    <div class="news_div3">
        <h1>News ket</h1>
        {% if news %}
            {% for el in news %}
                <div class="news">
                    <h1>{{ el.titel }}</h1>
                    <h3>{{el.anons }}</h3>
                    <p>{{ el.full_text }}</p>
                    <p>{{ el.date }}</p>
                </div>
            {% endfor %}
        {% else %}
            <h1>Записей нет</h1>
        {% endif %}
    </div>

{% endblock %}