body {
  max-height: 100%;
  max-height: 100%;
  background-color: #ffffff;
  margin: 0;
}

html{
    min-width:1280px;
}

* {
  text-decoration: none;
}

.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.grid1 {
  display: grid;
  width: 100%;
  height: 100%;

  text-align: center;
  grid-template:
    "div1 div1 div1"
    "div2 div3 div3"
    "div2 div3 div3";

  grid-template-columns: 16% 42% 42%;
}

.div1 {
  height: 50px;
  grid-area: div1;
  text-align: center;
  font-weight: bold;
  background-color: #f1dab1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div2 {
  grid-area: div2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fefefe;
}

.div2-content {
  position: sticky;
  top: 0;
  align-self: start;
  padding: 20px;
}

.div2-content > ul > li{
  list-style: none;
  color: #592525;
  text-decoration-color: #000;
}

.div2-content > ul{
  text-align: left;
  padding-left: 90px;
}

.div3 {
  grid-area: div3;
  height: max-content;
  display: grid;

  grid-template-columns: repeat(6, 5fr);

  column-gap: 20px;
  grid-auto-rows: 290px;
  overflow: hidden;
}

.div3 > * {
  border: 1px solid #f1dab1;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 15px;
  height: max-content;
  margin-top: 20px;
}

h5{
  color: #6b6964;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}


button {
  background-color: #f1dab1;
  width: 90%;
  border: 1px solid #f1dab1;
  border-radius: 5px;
}

button:hover {
  color: #a96f0c;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #f1dab1;
}








.div_about {

  border: 1px solid rgb(300, 300, 155);
  padding: 10px;
  border-left: 100px;
  text-align: left;
  word-wrap: break-word;
  white-space: pre-wrap
}


.map{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button_up{
  position: fixed;
  bottom: 15px;
  right: 0;
  border: 1px solid orangered;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}




.news {
  border: 1px solid #f1dab1;
  border-radius: 150px;
  background-color: #ffffff;
  padding: 15px;
  height: max-content;
  margin: 20px 220px;
}



.news_div3 {
  grid-area: div3;
  height: max-content;


  grid-template-columns: repeat(3, 3fr);

  column-gap: 20px;
  grid-auto-rows: 90px;

}