{% extends 'main/loyaut.html' %}

{% block title%}ghj{% endblock %}

{% block content %}
    <div class="div3">
        <h1 id="ket">Котики</h1>
        Очарование и Загадки Мира Мягких Лапок
        Котики — это не просто домашние животные, а настоящие компаньоны, которые завоевали сердца миллионов людей по
        всему миру. Их загадочные взгляды, игривый характер и мягкая шерсть делают их любимцами как детей, так и
        взрослых. Давайте погрузимся в удивительный мир котиков и узнаем о них больше!
        История Котиков
        Коты были одомашнены более 9 тысяч лет назад на Ближнем Востоке. Первоначально они привлекали людей своим
        умением ловить грызунов, которые угрожали запасам зерна. Постепенно коты стали не только полезными помощниками,
        но и любимыми питомцами. Древние египтяне почитали котов как священных животных, и даже строили храмы в их
        честь. Они верили, что коты приносят удачу и защищают дом от злых духов.
        <h1 id="breeds">Разнообразие Пород</h1>
        Существует множество пород котиков, каждая из которых обладает своими уникальными чертами. Вот некоторые из них:
        Персидская кошка: Известна своим длинным пушистым мехом и плоским лицом. Эти коты очень спокойные и ласковые.
        Сиамская кошка: Обладает характерным окрасом с темными отметинами на ушах, мордочке и лапках. Сиамцы известны
        своим общительным характером и преданностью хозяевам.
        Мейн-кун: Одна из самых крупных пород домашних кошек. Эти коты обладают длинным мехом и большими ушами с
        кисточками. Они дружелюбные и игривые.
        Британская короткошерстная: Известна своей круглой головой и плотным телосложением. Эти коты спокойные и
        независимые.
        Каждая порода имеет свои особенности поведения и ухода, поэтому выбор котика — это всегда индивидуальное
        решение.
        <h1 id="behavior">Поведение Котиков</h1>
        Коты — существа загадочные и непредсказуемые. Их поведение часто вызывает улыбку или удивление:
        Игра: Котики обожают играть! Они могут часами гоняться за игрушками или собственным хвостом. Игра помогает им
        развивать охотничьи навыки.
        Сон: Коты спят около 16-20 часов в день. Это делает их одними из самых ленивых существ на планете! Они любят
        спать в теплом месте, свернувшись калачиком.
        Общение: Коты могут издавать различные звуки — от мяуканья до мурлыканья. Каждое из этих звуков может иметь свое
        значение. Например, мяуканье может означать «я голоден», а мурлыканье — «мне хорошо».
        Чистоплотность: Коты известны своей аккуратностью. Они регулярно вылизывают свою шерсть, что помогает им
        оставаться чистыми и ухоженными.
        Здоровье Котиков
        Забота о здоровье кота — это важная часть его жизни. Регулярные визиты к ветеринару помогут предотвратить многие
        болезни. Вакцинация, правильное питание и физическая активность играют ключевую роль в поддержании здоровья
        вашего питомца.
        <h1 id="culture">Котики в Популярной Культуре</h1>
        Коты занимают особое место в культуре и искусстве. Они вдохновляют художников, писателей и кинематографистов на
        создание произведений искусства:
        Котики в кино: Фильмы с участием котов всегда вызывают интерес у зрителей. Например, «Кот в сапогах» стал
        культовым персонажем благодаря своей харизме.
        Мемы: В интернете коты стали настоящими звездами мемов! Изображения с забавными подписями собирают миллионы
        лайков на социальных платформах.
        Литература: Многие авторы использовали образ кота в своих произведениях. Например, знаменитая «Кошка» Эдгара По
        стала символом таинственности.
        <h1 id="conclusion">Заключение</h1>
        Котики — это не просто пушистые комки счастья; они полны загадок и удивительных черт характера. Каждый кот
        уникален по своему стилю жизни, поведению и предпочтениям. Забота о них приносит радость не только им, но и их
        владельцам.
        Если вы решите завести кота, помните, что это не только милое создание для игры, но и ответственный шаг на
        долгие годы вперед. Коты требуют любви, внимания и заботы, но взамен они подарят вам верность и нежность.
        Так что дайте своему котику немного любви сегодня — он этого заслуживает!

    </div>
    </div>
    <div class="map">
        <h1 id="paradise">Остров Тасиро в Японии называют «кошачьим раем»:</h1>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12524.68817041758!2d141.40762511902858!3d38.2986815395849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f89c00d07d663e7%3A0xd985f22a28c60972!2z0KLQsNGB0LjRgNC-!5e0!3m2!1sru!2sru!4v1732039759334!5m2!1sru!2sru"
            width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe src="/iframe.html" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" ></iframe>
    </div>

    <div id="button_up">
        <a href="#header">Вверх</a>
    </div>
{% endblock %}