{% extends 'main/loyaut.html' %}
{% load static %}


{% block title%}МАГАЗИН КОТИКОВ{% endblock %}

{% block content %}
<div class="div3">
    <div>
        <img src="{% static 'main/img/котик3.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button>1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик2.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик4.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик5.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик6.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик7.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>

    <div> <img src="{% static 'main/img/котик8.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик9.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик10.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик11.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик13.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик12.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div>
        <img src="{% static 'main/img/котик3.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик2.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик4.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик5.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик6.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик7.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>

    <div> <img src="{% static 'main/img/котик8.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик9.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик10.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик11.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик13.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик12.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div>
        <img src="{% static 'main/img/котик3.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик2.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик4.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик5.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик6.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик7.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>

    <div> <img src="{% static 'main/img/котик8.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик9.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик10.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик11.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик13.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик12.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div>
        <img src="{% static 'main/img/котик3.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик2.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик4.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик5.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик6.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик7.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>

    <div> <img src="{% static 'main/img/котик8.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик9.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик10.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик11.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик13.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик12.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div>
        <img src="{% static 'main/img/котик3.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик2.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик4.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик5.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик6.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик7.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>

    <div> <img src="{% static 'main/img/котик8.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик9.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик10.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик11.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик13.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
    <div> <img src="{% static 'main/img/котик12.jpg' %}" alt="котик3" />
        <h2>котик...</h2>
        <h5>пытаюсь придумать описание</h5>
        <button onclick="buyCat()">1000 денег</button>
    </div>
</div>

<!--{% include 'main/test.html'%}-->
{% endblock %}